---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = "Astro Tutorial";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>
		私の素晴らしいブログのサブタイトル
	</h2>
	<Greeting client:load messages={["どうも", "こんにちは", "はじめまして", "ようこそ"]} />
	<Greeting client:visible messages={["Hey", "Hi", "Hello", "Well come"]} />
</BaseLayout>